<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
<h1>Welcome to the "Toko ASJK"</h1>
<p style="font-size: 24px;">Take your orders easily.</p>
<a href="/login"><button>Go to Login Page</button></a>
</body>
</html>
