<%- include('../partials/navbar_manajer') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    
    <title>Dashboard Manajer</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <header>
        <h1>Selamat datang di Dashboard Manajer</h1>
        <p>
            Di sini Anda dapat melihat laporan dan manajemen data.
        </p>
    </header>

    <footer>
        <p>&copy; 2025 Aplikasi Manajemen Toko</p>
    </footer>

</body>
</html>